# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)
with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        #print(row)
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

101

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [5]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)
data=pd.read_csv('event_datafile_new.csv')
print(data)
from cassandra.cluster import Cluster
cluster = Cluster()
# To establish connection and begin executing queries, need a session
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
        print(e)

                             artist firstName gender  itemInSession  lastName  \
0                              Mynt   Celeste      F              2  Williams
1                      Taylor Swift   Celeste      F              3  Williams
2                     Amy Winehouse   Celeste      F              4  Williams
3                   Jimmy Eat World   Celeste      F              5  Williams
4                     Maldita Nerea  Anabelle      F              0   Simpson
5                             Fluke    Connar      M              0    Moreno
6                    Habib KoitÃÂ©    Jayden      M              0       Fox
7                         The Kooks      Sara      F              0   Johnson
8                    Blues Traveler      Sara      F              1   Johnson
9                          Coldplay      Sara      F              2   Johnson
10  Tom Petty And The Heartbreakers      Sara      F              3   Johnson
11                        Girl Talk      Sara      F              4   Johnson
12           Florence + The Machine      Sara      F              5   Johnson
13                     Three Drives      Sara      F              6   Johnson
14                   Jonas Brothers      Sara      F              7   Johnson
15                   Tevin Campbell      Sara      F              8   Johnson
16                            Sting      Sara      F              9   Johnson
17                       The Champs      Sara      F             10   Johnson
18                      RÃÂ¶yksopp      Sara      F             11   Johnson
19                Avenged Sevenfold      Sara      F             12   Johnson
20                        Sam Cooke      Sara      F             13   Johnson
21                         Apulanta      Sara      F             14   Johnson
22                              Era      Sara      F             15   Johnson
23                     Klaus Badelt    Sylvie      F              1      Cruz
24                     Parov Stelar      Sara      F             16   Johnson
25           Florence + The Machine      Lily      F              0      Koch
26                       De La Soul      Sara      F             17   Johnson
27               Lil Wayne / T-Pain      Sara      F             18   Johnson
28                             Cher      Lily      F              1      Koch
29                     Edge Of Dawn      Lily      F              2      Koch
..                              ...       ...    ...            ...       ...
70                         10 Years      Lily      F             22      Koch
71                           Juanes      Lily      F             23      Koch
72                      Cat Stevens      Sara      F             43   Johnson
73                      Passion Pit      Lily      F             24      Koch
74                  The Temper Trap      Sara      F             44   Johnson
75                      OneRepublic      Lily      F             25      Koch
76                            Diplo      Sara      F             45   Johnson
77           Afro Celt Sound System      Sara      F             46   Johnson
78                       PeterLicht      Lily      F             26      Koch
79                    M.A. Numminen      Sara      F             47   Johnson
80                      Limp Bizkit      Sara      F             49   Johnson
81                         Downhere      Sara      F             50   Johnson
82                     Roots Manuva      Sara      F             51   Johnson
83                         Lykke Li      Sara      F             52   Johnson
84                           Plan B      Sara      F             53   Johnson
85                  Octopus Project      Sara      F             54   Johnson
86                      OneRepublic      Sara      F             55   Johnson
87              Gilberto Santa Rosa      Sara      F             56   Johnson
88                     Eric Clapton      Sara      F             57   Johnson
89             ARRESTED DEVELOPMENT      Sara      F             58   Johnson
90                      Future Rock      Sara      F             60   Johnson
91                      Steppenwolf      Sara      F             61   Johnson
92      Jason Mraz & Colbie Caillat      Sara      F             62   Johnson
93                    Leonard Cohen      Sara      F             63   Johnson
94                      Bright Eyes      Ayla      F              0   Johnson
95                       The Smiths     Chloe      F              1    Cuevas
96                  Quique Gonzalez     Chloe      F              2    Cuevas
97                             Muse     Chloe      F              3    Cuevas
98                        Sugarland   Cecilia      F              0     Owens
99                  A Hope For Home   Cecilia      F              1     Owens

       length level                                      location  sessionId  \
0   166.94812  free                             Klamath Falls, OR         52
1   230.47791  free                             Klamath Falls, OR         52
2   229.85098  free                             Klamath Falls, OR         52
3   285.83138  free                             Klamath Falls, OR         52
4   241.16200  free   Philadelphia-Camden-Wilmington, PA-NJ-DE-MD        158
5   478.92853  free          Houston-The Woodlands-Sugar Land, TX        168
6   285.15220  free                      New Orleans-Metairie, LA        185
7   132.25751  paid                             Winston-Salem, NC        152
8   290.24608  paid                             Winston-Salem, NC        152
9   298.76200  paid                             Winston-Salem, NC        152
10  183.01342  paid                             Winston-Salem, NC        152
11  173.24363  paid                             Winston-Salem, NC        152
12  258.55955  paid                             Winston-Salem, NC        152
13  411.63710  paid                             Winston-Salem, NC        152
14  192.36526  paid                             Winston-Salem, NC        152
15  293.04118  paid                             Winston-Salem, NC        152
16  257.12281  paid                             Winston-Salem, NC        152
17  132.02240  paid                             Winston-Salem, NC        152
18  214.93506  paid                             Winston-Salem, NC        152
19  312.11057  paid                             Winston-Salem, NC        152
20  122.04363  paid                             Winston-Salem, NC        152
21  219.53261  paid                             Winston-Salem, NC        152
22  200.56771  paid                             Winston-Salem, NC        152
23  128.62649  free  Washington-Arlington-Alexandria, DC-VA-MD-WV        210
24  281.54730  paid                             Winston-Salem, NC        152
25  290.48118  paid            Chicago-Naperville-Elgin, IL-IN-WI        199
26  221.72689  paid                             Winston-Salem, NC        152
27  244.58404  paid                             Winston-Salem, NC        152
28  167.41832  paid            Chicago-Naperville-Elgin, IL-IN-WI        199
29  253.72689  paid            Chicago-Naperville-Elgin, IL-IN-WI        199
..        ...   ...                                           ...        ...
70  229.95546  paid            Chicago-Naperville-Elgin, IL-IN-WI        199
71  233.40363  paid            Chicago-Naperville-Elgin, IL-IN-WI        199
72  200.20200  paid                             Winston-Salem, NC        152
73  174.75873  paid            Chicago-Naperville-Elgin, IL-IN-WI        199
74  192.67873  paid                             Winston-Salem, NC        152
75  224.67873  paid            Chicago-Naperville-Elgin, IL-IN-WI        199
76   96.86159  paid                             Winston-Salem, NC        152
77  425.01179  paid                             Winston-Salem, NC        152
78  306.80771  paid            Chicago-Naperville-Elgin, IL-IN-WI        199
79  166.55628  paid                             Winston-Salem, NC        152
80  214.51710  paid                             Winston-Salem, NC        152
81  230.71302  paid                             Winston-Salem, NC        152
82  233.92608  paid                             Winston-Salem, NC        152
83  162.19383  paid                             Winston-Salem, NC        152
84  222.82404  paid                             Winston-Salem, NC        152
85  498.33751  paid                             Winston-Salem, NC        152
86  224.67873  paid                             Winston-Salem, NC        152
87  272.16934  paid                             Winston-Salem, NC        152
88  271.80363  paid                             Winston-Salem, NC        152
89  200.98567  paid                             Winston-Salem, NC        152
90  239.90812  paid                             Winston-Salem, NC        152
91  208.14322  paid                             Winston-Salem, NC        152
92  189.62240  paid                             Winston-Salem, NC        152
93  298.57914  paid                             Winston-Salem, NC        152
94  279.09179  free                                Santa Rosa, CA        135
95  196.67546  free             San Francisco-Oakland-Hayward, CA        195
96  214.20363  free             San Francisco-Oakland-Hayward, CA        195
97  210.46812  free             San Francisco-Oakland-Hayward, CA        195
98  247.77098  free             Atlanta-Sandy Springs-Roswell, GA          5
99  388.38812  free             Atlanta-Sandy Springs-Roswell, GA          5

                                  song  userId
0                         Playa Haters      53
1                   You Belong With Me      53
2                              Valerie      53
3                                Dizzy      53
4                           Supelicula      69
5                              Bermuda      62
6                           Din Din Wo     101
7                          Eddie's Gun      95
8                                 Hook      95
9                               Shiver      95
10               The Wild One_ Forever      95
11                         Give and Go      95
12                         Cosmic Love      95
13                         Greece 2000      95
14                               Sorry      95
15     Round And Round (Soul Mix Edit)      95
16              Windmills Of Your Mind      95
17                             Tequila      95
18         Poor Leno Jakatta Radio Mix      95
19         Bat Country (Album Version)      95
20                    Ain't Misbehavin      95
21                              Hallaa      95
22                       Cathar Rhythm      95
23                  Moonlight Serenade      10
24                            KissKiss      95
25          Rabbit Heart (Raise It Up)      15
26                      Me_ Myself & I      95
27                           Got Money      95
28                              Milord      15
29                       Losing Ground      15
..                                 ...     ...
70                           Wasteland      15
71                     No Siento Penas      15
72                          Wild World      95
73                          Sleepyhead      15
74                               Fader      95
75                             Secrets      15
76                             Florida      95
77                   Even In My Dreams      95
78                          Heiterkeit      15
79                         TULENLIEKKI      95
80          Rollin' (Air Raid Vehicle)      95
81          In America (Album Version)      95
82                             No Love      95
83                         Let It Fall      95
84                                Free      95
85                         Hypnopaedia      95
86                             Secrets      95
87                La Sigo Amando Tanto      95
88                     Tears In Heaven      95
89                   Fountain Of Youth      95
90                               Gears      95
91                     Born To Be Wild      95
92               Lucky (Album Version)      95
93                   The Stranger Song      95
94               Kathy with a K's Song      63
95  The Boy With The Thorn In His Side      49
96                 Cuando Eramos Reyes      49
97                        Pink Ego Box      49
98        Just Might (Make Me Believe)       6
99   Absolution: Of Flight and Failure       6

[100 rows x 11 columns]

#### Create Keyspace

In [6]:
# TO-DO: Create a Keyspace 

try:
    session.execute(
    "CREATE KEYSPACE IF NOT EXISTS udacity WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }")    
except Exception as e:
        print(e)

#### Set Keyspace

In [7]:
# TO-DO: Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace('udacity')
except Exception as e:
        print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

### FUNCTIONS
#### There are three functions for creating tables,inserting data and for select queries to verify if the data is properly inserted into tables.

In [9]:

def create_table(table_name):
    ''' This will create the table with specified table name 
         and adds the columns which are required for that table from the
         csv file.'''
    
    query = "CREATE TABLE IF NOT EXISTS "+table_name
    if(table_name=="session_history"):
        query = query + "( sessionId int, itemInSession int, artist text, song text,length double, PRIMARY KEY (sessionId,itemInSession))"

    elif(table_name=="user_history"):
        query= query + "( userId int,firstName text,lastName text,artist text,song text,itemInSession int,sessionId int,PRIMARY KEY (userId,sessionId,itemInSession));"
    
    elif(table_name=="song_history"):
        query= query + "(userId int,firstName text,lastName text,song text,PRIMARY KEY (song,userId));"

    try:
        session.execute(query)
    except Exception as e:
        print(e)
        
def insert_table(table_name):
    ''' Depending upon which table name is passed this will create insert 
        query,then pass the corresponding columns to the insert statement to
        insert the records into the table.'''
    
    ## TO-DO: Assign the INSERT statements into the `query` variable depending on table name

    query=""
    file="event_datafile_new.csv"
    if(table_name=="session_history"):
        query = "INSERT INTO session_history (sessionId,itemInSession,artist,song,length)"
        query = query + " VALUES (%s, %s, %s, %s,%s);"
    elif (table_name=="user_history"):
        query = "INSERT INTO user_history ( userId,firstName,lastName,artist,song,itemInSession,sessionId)"
        query = query + " VALUES (%s,%s,%s,%s,%s,%s,%s);"
    elif(table_name=="song_history"):
        query="INSERT INTO song_history (userId,firstName,lastName,song)"
        query = query + " VALUES (%s, %s, %s, %s)"
    
    with open(file, encoding = 'utf8') as f:
        csvreader = csv.reader(f)
        next(csvreader) # skip header
        for line in csvreader:
    
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
            if(table_name=="session_history"):
                session.execute(query, (int(line[8]),int(line[3]),str(line[0]),str(line[9]),float(line[5])))
            elif(table_name=="user_history"):
                session.execute(query, (int(line[10]),line[1],line[4],str(line[0]),line[9],int(line[3]),int(line[8])))
            elif(table_name=="song_history"):
                session.execute(query, (int(line[10]),line[1],line[4],str(line[9])))
                        
def verify_select(table_name):
    ''' This function is used to select all rows from the table
    to verify if the data is properly inserted.'''
    
    ## TO-DO: Add in the SELECT statement to verify the data was entered into the table
    query="select * from "+ table_name 

    df=pd.DataFrame()
    try:
        df = pd.DataFrame(list(session.execute(query)))
    except Exception as e:
        print(e)

    if(df.empty):
        print("No records present in the table"+ table_name)
    else:
        print(df)

### SESSION_HISTORY TABLE
##### 1. For first query session_history table is created which has columns sessionId,itemInsession,artist name,length,song title. sessionId is used as Partition Key and itemSession is used as Clustering key and it has been used in select statement in the same order.

##### 2. As there are no matching records, query does not return anything.

In [24]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
#Create the table with the specified name for the first query, using the create_table 
#function.

create_table("session_history")

#insert data into session_history table.
insert_table("session_history")

#Do a SELECT to verify that the data have been inserted into each table
#Verify whether data is properly inserted.
verify_select("session_history")

## Write the specified query.

query = "select * from session_history WHERE sessionId = 338 and itemInSession = 5"

#Use pandas dataframe to display the results.
df=pd.DataFrame()
try:
    df = pd.DataFrame(list(session.execute(query)))
except Exception as e:
    print(e)

if df.empty :
    print("No records found for given session!")
else:
    print(df)

    sessionid  iteminsession                           artist     length  \
0         185              0                   Habib KoitÃÂ©  285.15220
1           5              0                        Sugarland  247.77098
2           5              1                  A Hope For Home  388.38812
3         210              1                     Klaus Badelt  128.62649
4          52              2                             Mynt  166.94812
5          52              3                     Taylor Swift  230.47791
6          52              4                    Amy Winehouse  229.85098
7          52              5                  Jimmy Eat World  285.83138
8         152              0                        The Kooks  132.25751
9         152              1                   Blues Traveler  290.24608
10        152              2                         Coldplay  298.76200
11        152              3  Tom Petty And The Heartbreakers  183.01342
12        152              4                        Girl Talk  173.24363
13        152              5           Florence + The Machine  258.55955
14        152              6                     Three Drives  411.63710
15        152              7                   Jonas Brothers  192.36526
16        152              8                   Tevin Campbell  293.04118
17        152              9                            Sting  257.12281
18        152             10                       The Champs  132.02240
19        152             11                      RÃÂ¶yksopp  214.93506
20        152             12                Avenged Sevenfold  312.11057
21        152             13                        Sam Cooke  122.04363
22        152             14                         Apulanta  219.53261
23        152             15                              Era  200.56771
24        152             16                     Parov Stelar  281.54730
25        152             17                       De La Soul  221.72689
26        152             18               Lil Wayne / T-Pain  244.58404
27        152             19                   The Black Keys  223.84281
28        152             20                     Adam Lambert  227.39546
29        152             21                             Pulp  208.95302
..        ...            ...                              ...        ...
70        199              2                     Edge Of Dawn  253.72689
71        199              3                    Smokie Norful  337.84118
72        199              4                  Alliance Ethnik  265.76934
73        199              5                 John Butler Trio  223.68608
74        199              6                  The Temper Trap  192.67873
75        199              7          Cute Is What We Aim For  201.22077
76        199              8                         Siriusmo  272.61342
77        199              9                    Alberto Plaza  271.30730
78        199             10                      Sean Lennon  202.97098
79        199             11                      Nana Caymmi  251.06240
80        199             12                        Skyforger   38.94812
81        199             13                      Bryan Ferry  265.87383
82        199             14                      Foxy Shazam  201.74322
83        199             15                         Old 97's  231.28771
84        199             16                    Lonnie Gordon  181.21098
85        199             17           Florence + The Machine  219.66322
86        199             18                        Mad Cobra  230.68689
87        199             19                   Flogging Molly  260.75383
88        199             20                    Sneaker Pimps  260.91057
89        199             21                    Texas In July  190.69342
90        199             22                         10 Years  229.95546
91        199             23                           Juanes  233.40363
92        199             24                      Passion Pit  174.75873
93        199             25                      OneRepublic  224.67873
94        199             26                       PeterLicht  306.80771
95        195              1                       The Smiths  196.67546
96        195              2                  Quique Gonzalez  214.20363
97        195              3                             Muse  210.46812
98        168              0                            Fluke  478.92853
99        158              0                    Maldita Nerea  241.16200

                                                 song
0                                          Din Din Wo
1                        Just Might (Make Me Believe)
2                   Absolution: Of Flight and Failure
3                                  Moonlight Serenade
4                                        Playa Haters
5                                  You Belong With Me
6                                             Valerie
7                                               Dizzy
8                                         Eddie's Gun
9                                                Hook
10                                             Shiver
11                              The Wild One_ Forever
12                                        Give and Go
13                                        Cosmic Love
14                                        Greece 2000
15                                              Sorry
16                    Round And Round (Soul Mix Edit)
17                             Windmills Of Your Mind
18                                            Tequila
19                        Poor Leno Jakatta Radio Mix
20                        Bat Country (Album Version)
21                                   Ain't Misbehavin
22                                             Hallaa
23                                      Cathar Rhythm
24                                           KissKiss
25                                     Me_ Myself & I
26                                          Got Money
27                                           Elevator
28                               Whataya Want From Me
29                       Little Girl (With Blue Eyes)
..                                                ...
70                                      Losing Ground
71            I Need You Now (Build A Bridge Version)
72                                         Creil City
73              Betterman (full-length/album version)
74                                              Fader
75               Finger Twist & Split (Album Version)
76                                             Simple
77                               No Seas Cruel (vivo)
78                                       Into The Sun
79               Acercate Mas (2000 Digital Remaster)
80                    In the Yard of the Father's Son
81              Slave To Love (1999 Digital Remaster)
82                     Wanna-be Angel (Album Version)
83                              Victoria (LP Version)
84  Catch You Baby (Steve Pitron & Max Sanna Radio...
85                     Dog Days Are Over (Radio Edit)
86                                               Flex
87                          Punch Drunk Grinning Soul
88                                    Spin Spin Sugar
89                                             Aurora
90                                          Wasteland
91                                    No Siento Penas
92                                         Sleepyhead
93                                            Secrets
94                                         Heiterkeit
95                 The Boy With The Thorn In His Side
96                                Cuando Eramos Reyes
97                                       Pink Ego Box
98                                            Bermuda
99                                         Supelicula

[100 rows x 5 columns]
No records found for given session!

## Same code is repeated for remaining two queries.

### USER_HISTORY TABLE
##### 1.For second query user_history table is created which has columns  firstName,lastName,artist,song,sessionId,itemInsession,artist name. userId is used as Partition Key and sessionId and itemInSession are  used as Clustering key and it has been used in select statement in the same order. As itemInSession is clustering column records are sorted in desc order of itemInSession.

##### 2. Implemented second query here but  there are no records matching given criteria.

In [25]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182
create_table("user_history")
insert_table("user_history")
verify_select("user_history")

query = "select artist,song,firstName,lastName from user_history WHERE userId = 10 and sessionId =182"
df=pd.DataFrame()
try:
    df = pd.DataFrame(list(session.execute(query)))
except Exception as e:
    print(e)

if df.empty :
    print("No records found for given session!")
else:
    print(df)

    userid  sessionid  iteminsession                           artist  \
0       53         52              2                             Mynt
1       53         52              3                     Taylor Swift
2       53         52              4                    Amy Winehouse
3       53         52              5                  Jimmy Eat World
4       95        152              0                        The Kooks
5       95        152              1                   Blues Traveler
6       95        152              2                         Coldplay
7       95        152              3  Tom Petty And The Heartbreakers
8       95        152              4                        Girl Talk
9       95        152              5           Florence + The Machine
10      95        152              6                     Three Drives
11      95        152              7                   Jonas Brothers
12      95        152              8                   Tevin Campbell
13      95        152              9                            Sting
14      95        152             10                       The Champs
15      95        152             11                      RÃÂ¶yksopp
16      95        152             12                Avenged Sevenfold
17      95        152             13                        Sam Cooke
18      95        152             14                         Apulanta
19      95        152             15                              Era
20      95        152             16                     Parov Stelar
21      95        152             17                       De La Soul
22      95        152             18               Lil Wayne / T-Pain
23      95        152             19                   The Black Keys
24      95        152             20                     Adam Lambert
25      95        152             21                             Pulp
26      95        152             22                           Tricky
27      95        152             23                     Culture Club
28      95        152             24                 La Mosca Tse-Tse
29      95        152             25                     Jack Johnson
..     ...        ...            ...                              ...
70      15        199              1                             Cher
71      15        199              2                     Edge Of Dawn
72      15        199              3                    Smokie Norful
73      15        199              4                  Alliance Ethnik
74      15        199              5                 John Butler Trio
75      15        199              6                  The Temper Trap
76      15        199              7          Cute Is What We Aim For
77      15        199              8                         Siriusmo
78      15        199              9                    Alberto Plaza
79      15        199             10                      Sean Lennon
80      15        199             11                      Nana Caymmi
81      15        199             12                        Skyforger
82      15        199             13                      Bryan Ferry
83      15        199             14                      Foxy Shazam
84      15        199             15                         Old 97's
85      15        199             16                    Lonnie Gordon
86      15        199             17           Florence + The Machine
87      15        199             18                        Mad Cobra
88      15        199             19                   Flogging Molly
89      15        199             20                    Sneaker Pimps
90      15        199             21                    Texas In July
91      15        199             22                         10 Years
92      15        199             23                           Juanes
93      15        199             24                      Passion Pit
94      15        199             25                      OneRepublic
95      15        199             26                       PeterLicht
96       6          5              0                        Sugarland
97       6          5              1                  A Hope For Home
98     101        185              0                   Habib KoitÃÂ©
99      62        168              0                            Fluke

   firstname  lastname                                               song
0    Celeste  Williams                                       Playa Haters
1    Celeste  Williams                                 You Belong With Me
2    Celeste  Williams                                            Valerie
3    Celeste  Williams                                              Dizzy
4       Sara   Johnson                                        Eddie's Gun
5       Sara   Johnson                                               Hook
6       Sara   Johnson                                             Shiver
7       Sara   Johnson                              The Wild One_ Forever
8       Sara   Johnson                                        Give and Go
9       Sara   Johnson                                        Cosmic Love
10      Sara   Johnson                                        Greece 2000
11      Sara   Johnson                                              Sorry
12      Sara   Johnson                    Round And Round (Soul Mix Edit)
13      Sara   Johnson                             Windmills Of Your Mind
14      Sara   Johnson                                            Tequila
15      Sara   Johnson                        Poor Leno Jakatta Radio Mix
16      Sara   Johnson                        Bat Country (Album Version)
17      Sara   Johnson                                   Ain't Misbehavin
18      Sara   Johnson                                             Hallaa
19      Sara   Johnson                                      Cathar Rhythm
20      Sara   Johnson                                           KissKiss
21      Sara   Johnson                                     Me_ Myself & I
22      Sara   Johnson                                          Got Money
23      Sara   Johnson                                           Elevator
24      Sara   Johnson                               Whataya Want From Me
25      Sara   Johnson                       Little Girl (With Blue Eyes)
26      Sara   Johnson                                          Ponderosa
27      Sara   Johnson                                     Believe (Demo)
28      Sara   Johnson                              Patadas En El Corazon
29      Sara   Johnson                                        Bubble Toes
..       ...       ...                                                ...
70      Lily      Koch                                             Milord
71      Lily      Koch                                      Losing Ground
72      Lily      Koch            I Need You Now (Build A Bridge Version)
73      Lily      Koch                                         Creil City
74      Lily      Koch              Betterman (full-length/album version)
75      Lily      Koch                                              Fader
76      Lily      Koch               Finger Twist & Split (Album Version)
77      Lily      Koch                                             Simple
78      Lily      Koch                               No Seas Cruel (vivo)
79      Lily      Koch                                       Into The Sun
80      Lily      Koch               Acercate Mas (2000 Digital Remaster)
81      Lily      Koch                    In the Yard of the Father's Son
82      Lily      Koch              Slave To Love (1999 Digital Remaster)
83      Lily      Koch                     Wanna-be Angel (Album Version)
84      Lily      Koch                              Victoria (LP Version)
85      Lily      Koch  Catch You Baby (Steve Pitron & Max Sanna Radio...
86      Lily      Koch                     Dog Days Are Over (Radio Edit)
87      Lily      Koch                                               Flex
88      Lily      Koch                          Punch Drunk Grinning Soul
89      Lily      Koch                                    Spin Spin Sugar
90      Lily      Koch                                             Aurora
91      Lily      Koch                                          Wasteland
92      Lily      Koch                                    No Siento Penas
93      Lily      Koch                                         Sleepyhead
94      Lily      Koch                                            Secrets
95      Lily      Koch                                         Heiterkeit
96   Cecilia     Owens                       Just Might (Make Me Believe)
97   Cecilia     Owens                  Absolution: Of Flight and Failure
98    Jayden       Fox                                         Din Din Wo
99    Connar    Moreno                                            Bermuda

[100 rows x 7 columns]
No records found for given session!


### SONG_HISTORY TABLE
##### 1.For third query song_history table is created which has columns  userId,firstName,lastName,song title. userId is used as Partition Key and song is used as Clustering key. Using userId as partition key ensures that it every row is unique even if there are duplicated user names. Records are sorted on song title.

##### 2. Implemented third query and one record has been found matching given criteria.

In [29]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'
create_table("song_history")
insert_table("song_history")

#Do a SELECT to verify that the data have been inserted into each table
verify_select("song_history")

query = "select firstName,lastName from song_history WHERE song='All Hands Against His Own'"
df=pd.DataFrame()
try:
    df = pd.DataFrame(list(session.execute(query)))
except Exception as e:
    print(e)

if df.empty :
    print("No records found for given session!")
else:
    print(df)

                                                 song  userid firstname  \
0               Slave To Love (1999 Digital Remaster)      15      Lily
1                                         Greece 2000      95      Sara
2   Catch You Baby (Steve Pitron & Max Sanna Radio...      15      Lily
3                     Round And Round (Soul Mix Edit)      95      Sara
4                          Rabbit Heart (Raise It Up)      15      Lily
5                                           Wasteland      15      Lily
6                                             Florida      95      Sara
7                                             Bermuda      62    Connar
8                                             Ray Gun      95      Sara
9                                  You Belong With Me      53   Celeste
10                                           If I Was      95      Sara
11                                           For Emma      95      Sara
12                                  Fountain Of Youth      95      Sara
13                          Punch Drunk Grinning Soul      15      Lily
14                                    Tears In Heaven      95      Sara
15                                              Dizzy      53   Celeste
16                                   Unchained Melody      95      Sara
17                     Dog Days Are Over (Radio Edit)      15      Lily
18              Betterman (full-length/album version)      15      Lily
19                         In America (Album Version)      95      Sara
20                                        Let It Fall      95      Sara
21                                      Cathar Rhythm      95      Sara
22                                      Losing Ground      15      Lily
23               Finger Twist & Split (Album Version)      15      Lily
24                                         Creil City      15      Lily
25                                           KissKiss      95      Sara
26                        Poor Leno Jakatta Radio Mix      95      Sara
27                                    Spin Spin Sugar      15      Lily
28                                       Feelin' Blue      95      Sara
29                  Absolution: Of Flight and Failure       6   Cecilia
..                                                ...     ...       ...
70                                        Cosmic Love      95      Sara
71                                               Free      95      Sara
72                         Rollin' (Air Raid Vehicle)      95      Sara
73            I Need You Now (Build A Bridge Version)      15      Lily
74                        Bat Country (Album Version)      95      Sara
75                                           Elevator      95      Sara
76                                               Hook      95      Sara
77                                              Sorry      95      Sara
78                                         Sleepyhead      15      Lily
79                                       Playa Haters      53   Celeste
80                              The Wild One_ Forever      95      Sara
81                                        Not The Sun      95      Sara
82                 The Boy With The Thorn In His Side      49     Chloe
83                              Victoria (LP Version)      15      Lily
84                                         Din Din Wo     101    Jayden
85                                       EMCEE Murdah      95      Sara
86                                     Me_ Myself & I      95      Sara
87                             West One (Shine On Me)      95      Sara
88                                             Aurora      15      Lily
89                                            Valerie      53   Celeste
90                                           Moonlupe      95      Sara
91                                        Hypnopaedia      95      Sara
92                              Kathy with a K's Song      63      Ayla
93                                             Shiver      95      Sara
94                     Wanna-be Angel (Album Version)      15      Lily
95                       Little Girl (With Blue Eyes)      95      Sara
96                                              Gears      95      Sara
97                                            Tequila      95      Sara
98                                         Heiterkeit      15      Lily
99                                  One Of These Days      95      Sara

    lastname
0       Koch
1    Johnson
2       Koch
3    Johnson
4       Koch
5       Koch
6    Johnson
7     Moreno
8    Johnson
9   Williams
10   Johnson
11   Johnson
12   Johnson
13      Koch
14   Johnson
15  Williams
16   Johnson
17      Koch
18      Koch
19   Johnson
20   Johnson
21   Johnson
22      Koch
23      Koch
24      Koch
25   Johnson
26   Johnson
27      Koch
28   Johnson
29     Owens
..       ...
70   Johnson
71   Johnson
72   Johnson
73      Koch
74   Johnson
75   Johnson
76   Johnson
77   Johnson
78      Koch
79  Williams
80   Johnson
81   Johnson
82    Cuevas
83      Koch
84       Fox
85   Johnson
86   Johnson
87   Johnson
88      Koch
89  Williams
90   Johnson
91   Johnson
92   Johnson
93   Johnson
94      Koch
95   Johnson
96   Johnson
97   Johnson
98      Koch
99   Johnson

[100 rows x 4 columns]
  firstname lastname
0      Sara  Johnson

### Drop the tables before closing out the sessions

In [27]:
## TO-DO: Drop the table before closing out the sessions

In [10]:
query = "drop table IF EXISTS session_history"
query1 = "drop table IF EXISTS user_history"
query2 = "drop table IF EXISTS song_history"



try:
    rows = session.execute(query)
    rows1 = session.execute(query1)
    rows2 = session.execute(query2)


except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [11]:
session.shutdown()
cluster.shutdown()